<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.otusspringstudy.dao.QuestionDaoSimple">
        <constructor-arg value="questions.csv"/>
    </bean>
    <bean id="testService" class="ru.otus.otusspringstudy.service.TestServiceImpl">
        <constructor-arg index="0" ref="questionDao"/>
    </bean>
<!--    <bean id="personService" class="ru.otus.otusspringstudy.service.PersonServiceImpl">
        <constructor-arg index="0" ref="personDao"/>
    </bean>-->
</beans>